.row
  .col-lg-12
    %h1.page-header メンバー編集
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Users Create Form
      .panel-body
        .row
          .col-lg-6
            =form_for [:admin, @aduser] do |f|
              .form-group
                =f.label :期生
                %span.form-require （必須）
                =f.collection_select :adkisei_id, @adkiseis, :id, :name, {include_blank: ""}, {class: "form-control", required: true}  #クラス指定したい場合は、オプションとして指定してあげるので、既存のオプションである,include_blankやpromoteの欄と分けてかく。:idは、バリューの値、:nameはぞれぞれの期生の名前を表示している。
              .form-group
                =f.label :名前
                %span.form-require （必須）
                =f.text_field :name, required: true, placeholder: "", class: "form-control"
              .form-group
                =f.label :大学・学部
                =f.text_field :university, placeholder: "", class: "form-control"
              .form-group
                =f.label :学籍番号
                =f.text_field :studentnumber, placeholder: "", class: "form-control"
              .form-group
                =f.label :勤務先・役割
                =f.text_field :role, placeholder: "", class: "form-control"
              .form-group
                =f.label :メールアドレス
                =f.text_field :email, placeholder: "", class: "form-control"
              .form-group
                =f.label :住所
                =f.text_field :adress, placeholder: "", class: "form-control"
              .form-group
                =f.label :電話番号
                =f.text_field :phone, placeholder: "", class: "form-control"
              .form-group
                %label.btn-position
                  =f.file_field :avator, style: "display:none;"
                  %span.btn
                    顔写真を選択
              =f.submit '編集', class: "btn btn-default"
              =link_to "/admin/adusers/#{@aduser.id}", method: :delete, data: {confirm: "本当に削除しますか？"} do
                .btn.btn-default.delete-btn
                  削除
:javascript
  $(function() {
      // jQuery Upload Thumbs
      $('form input:file').uploadThumbs({
          position : 0,      // 0:before, 1:after, 2:parent.prepend, 3:parent.append,
                             // any: arbitrarily jquery selector
          imgbreak : true    // append <br> after thumbnail images
      });
  });
