.row
  .col-lg-12
    %h1.page-header メンバー一覧
-if current_adminuser.id == 2
  =link_to new_admin_aduser_path do
    .well
      .btn.btn-default.btn-lg.btn-block
        メンバー作成
.well
  =form_tag(search_admin_adusers_path, method: "GET") do
    .search-box
      =label_tag "絞り込み （期生・名前で検索できます。）"
    .search-box
      =collection_select :aduser, :adkisei_id, @adkiseis, :id, :name, {include_blank: true}, {class: "form-control"}
    .search-box
      =text_field :aduser, :name, {class: "form-control", placeholder: "名前"}
    .search-btn
      =submit_tag "絞り込み", class: "search-submit-btn"
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        メンバー情報
      .panel-body
        %table#dataTables-example.table.table-striped.table-bordered.table-hover{width: "100%"}
          %thead
            %tr
              %th 期生
              %th 名前
              %th 大学・学部
              %th 学籍番号
              %th 勤務先・役割
              %th 設定
          %tbody
            -@adusers.each do |aduser|
              %tr.odd.gradeX
                %td(class="kisei-color-#{aduser.adkisei_id}")
                  =aduser.adkisei.name
                %td.user_name
                  =aduser.name
                %td
                  =aduser.university
                %td
                  =aduser.studentnumber
                %td
                  =aduser.role
                %td.center
                  =link_to admin_aduser_path(aduser.id), class: "detail-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
                    詳細
