.prs-intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Medias
          %h3 CHADの活動がメディアに掲載されました。
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          京都新聞・KBSラジオ
          %br
          News and Radio
        %p.lead
          CHADの活動が認められて、これまでに京都新聞に計二回掲載、KBSラジオに計三回出演させていただきました。あああああああああああああああああああああああああああああああああhんとうに嬉しかったよ！
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "image 1.jpg", class: "img-responsive", alt: ""
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "image 1.jpg", class: "img-responsive", alt: ""
