.actions-intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Others
          %h3 CHADは様々な活動を行なっています。
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          イベント
          %br
          Event In Japan
        %p.lead
          学外のイベントに参加し、他団体との交流を深めています。
          %br
          これからも繋がりを大切にしていきたいです。ッッッッッッッッッッッッッッッッッサああああああああああああああああああああああああああああああああああああああああああああああああああああ
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "sports.jpg", class: "img-responsive", alt: ""
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "sports.jpg", class: "img-responsive", alt: ""
.content-section-introduction
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          学外講演
          %br
          Lecture
        %p.lead
          学外のイベントに参加し、他団体との交流を深めています。
          %br
          これからも繋がりを大切にしていきたいです。ッッッッッッッッッッッッッッッッッサああああああああああああああああああああああああああああああああああああああああああああああああああああ
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "sports.jpg", class: "img-responsive", alt: ""
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "sports.jpg", class: "img-responsive", alt: ""
