.actions-sports-intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Sports Festival Project
          %h3 カンボジアで運動会を開催しています。
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6.col-center
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          運動会
          %br>/
          Sports Festival Project
        %p.lead
          カンボジアの教育問題を解決すべく、私たち学生団体CAHDは、
          これまでに主に二つの学校で運動会を開催しております。
.actions-sports-university-intro-header
  .actions-sports-university-intro-message
    .university-box
      %h1 プノンペン大学
      %h3 大学生総勢260人と大運動会を行いました。
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6.col-center
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          プノンペン大学
          %br>/
          University
        %p.lead
          第一回プロジェクト、カンボジアのプノンペン大学の学生と共に運動会を行いました。
          %br
          非常に盛り上がりました。本当にだsじいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいなんかあああああああああああああああああああああああああああああああああああこんなにdcもdvf微雨vんフェイvベアkbてqんvフェアvネフィヴェfヴェシウbんフェアhbなr；イオンgkvwlgんwbkgにvhファいうlv生えrbwんvrgbvらvbリウvbr
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "punonnpenuni.jpg", class: "img-responsive", alt: ""
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "image 1.jpg", class: "img-responsive", alt: ""
.actions-sports-elementary-intro-header
  .actions-sports-elementary-intro-message
    .elementary-box
      %h1 チャク寺院小学校
      %h3 田舎の小学校で運動会を行なっています。
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6.col-center
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          チャク寺院小学校
          %br>/
          Elementary
        %p.lead
          第二回プロジェクトから、田舎の小学校で運動会を継続的に行なっています。
          %br
          可愛いですね小学生は。vねるいvrvbれvんrっvにvhんてあfvhbらナウいvbれg地王w梅雨bんゔぁヴィウvラエンヴェイルhbrんfv懇意てゃこれかrの宜しくお願いしあmすvんvに卯あvfbヴァvんfんヴイfvfvなんでこなにも打つスピードはが早くないんだろうあぁ、本名t方に簿記卯はkのことが「納屋kだであるrgbvjkvふぇあっbsvぇあsvfjvふぁjskゔfうぃあgrvsウVらffんvれghrんgrgrhんvgrbvrんgrg９vygrhrが
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "tyaku.jpg", class: "img-responsive", alt: ""
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "tyaku.jpg", class: "img-responsive", alt: ""





