.fundraisings-intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Fund Raising
          %h3 京都市内で募金活動を行っています。
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          募金活動
          %br
          Fund Raising
        %p.lead
          四条烏丸付近で募金活動を行っています。っっっっっっっっっっっっっっっっfああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "image 1.jpg", class: "img-responsive", alt: ""
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "image 1.jpg", class: "img-responsive", alt: ""
