%body
  / Navigation
  / Header
  %a{:name => "about"}
  .actions-intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            %h1 Actions
            %h3 カンボジアの教育問題を解決すべく、日々活動しています。
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            運動会
            %br>/
            Sports Festival Project
          %p.lead
            毎年、カンボジアの小学校で運動会を
            %br
            開催しております。
          .learn-more_btn_wrapper
            = link_to actions_sports_path, class: "button change-border01" do
              %span.change-border01__inner learn more
        .col-lg-5.col-lg-offset-2.col-sm-6
          = image_tag "image 1.jpg", class: "img-responsive", alt: ""
  .content-section-b
    .container
      .row
        .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            教育プロジェクト
            %br>/
            Education Project
          %p.lead
            日本語教育・ゴミ問題など、
            %br
            様々な教育プロジェクトを行なっています。
          .learn-more_btn_wrapper
            = link_to actions_educations_path, class: "button change-border01" do
              %span.change-border01__inner learn more
        .col-lg-5.col-sm-pull-6.col-sm-6
          = image_tag "dog.png", class: "img-responsive", alt: ""
