%body
  / Navigation
  / Header、下のように直接cssを適応させてあげることでインスタンスの値を使って振り分けることができる！
  .users-intro-header{style: "background: url(/assets/#{@kisei.backimage}) no-repeat center center; background-size: cover;"}
    .container
      .row
        .col-lg-12
          .intro-message
            %h1
              = @kisei.name
            %h3
              = @kisei.text
  .content-section-a
    .container
      .row
        = render partial: 'shared/user', collection: @users
