%tr.odd.gradeX
  %td
    =adkisei.name
  %td Internet Explorer 4.0
  %td Win 95+
  %td Win 95+
  %td.center
    =link_to root_path, class: "edit-btn", style: "width: 50%; height: 100%; display: block; float: left; :hove{color: red;" do
      編集
    =link_to root_path, class: "delete-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
      削除
