.col-lg-13.col-sm-14.wrapper-image-box
  .image-box
    .user-image{style: "background: url(#{user.avator}); background-size: cover; margin: 0 auto;"}
    %h3.user-name
      =user.name
    %p
      =user.role


