!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title SB Admin 2 - Bootstrap Admin Theme
    = stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      / Navigation
      %nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand 学生団体CHAD管理システム
        .navbar-default.sidebar{:role => "navigation"}
          .sidebar-nav.navbar-collapse
            %ul#side-menu.nav
              %li.sidebar-search
                .input-group.custom-search-form
                  %input.form-control{:placeholder => "Search...", :type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-default{:type => "button"}
                      %i.fa.fa-search
                / /input-group
              %li
                %a{href: admin_root_path}
                  %i.fa.fa-dashboard.fa-fw
                  Dashboard
              %li
                %a{href: "/admin/kiseis"}
                  %i.fa.fa-bar-chart-o.fa-fw
                  期生
                / %ul.nav.nav-second-level
                /   %li
                /     %a{href: "flot.html"} Flot Charts
                /   %li
                /     %a{href: "morris.html"} Morris.js Charts
                / /.nav-second-level
              %li
                %a{href: "/admin/users"}
                  %i.fa.fa-table.fa-fw
                  メンバー
              %li
                %a{href: "/admin/contacts"}
                  %i.fa.fa-edit.fa-fw
                  お問い合わせ
                / /.nav-second-level
          / /.sidebar-collapse
        / /.navbar-static-side
      #page-wrapper
        .row
          .col-lg-12
            %h1.page-header 期生編集
          / /.col-lg-12
        / /.row
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                編集画面です。編集しない場合はそのまま「編集」ボタンを押してください。
              .panel-body
                .row
                  .col-lg-6
                    =form_for [:admin, @adkisei ] do |f|
                      .form-group
                        =f.label :期生
                        %span.form-require （必須）
                        = f.text_field :name, required: true, placeholder: "例）一期生", class: "form-control"
                      .form-group
                        =f.label :紹介文
                        %span.form-require （必須）
                        =f.text_area :text, required: true, placeholder: "例）僕たち一期生は学生団体CHADを創設しました。", class: "form-control"
                      .form-group
                        =f.label :背景画像
                        =f.file_field :backimage
                      =f.submit "編集", class: "btn btn-default" #classを複数指定する場合はこのようにする。
                      =link_to "/admin/adusers/#{@adkisei.id}", data: {confirm: "本当に削除しますか？"} do
                        .btn.btn-default.delete-btn
                          削除
