.row
  .col-lg-12
    %h1.page-header 期生編集
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        編集画面です。編集しない場合はそのまま「編集」ボタンを押してください。
      .panel-body
        .row
          .col-lg-6
            =form_for [:admin, @adkisei ] do |f|
              .form-group
                =f.label :期生
                %span.form-require （必須）
                = f.text_field :name, required: true, placeholder: "例）一期生", class: "form-control"
              .form-group
                =f.label :紹介文
                %span.form-require （必須）
                =f.text_area :text, required: true, placeholder: "例）僕たち一期生は学生団体CHADを創設しました。", class: "form-control"
              .form-group
                =f.label :背景画像
                =f.file_field :backimage
              =f.submit "編集", class: "btn btn-default" #classを複数指定する場合はこのようにする。
              =link_to "/admin/adusers/#{@adkisei.id}", data: {confirm: "本当に削除しますか？"} do
                .btn.btn-default.delete-btn
                  削除
