.row
  .col-lg-12
    %h1.page-header 期生一覧
-if current_adminuser.id == 2
  =link_to new_admin_adkisei_path do
    .well
      .btn.btn-default.btn-lg.btn-block
        期生作成
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        期生情報
      .panel-body
        %table#dataTables-example.table.table-striped.table-bordered.table-hover{width: "100%"}
          %thead
            %tr
              %th 期生
              %th 紹介文
              %th 入団年月
              %th 卒団年月
              %th 設定
          %tbody
            -@adkiseis.each do |kisei|
              %tr.odd.gradeX
                %td
                  =kisei.name
                %td
                  =kisei.text
                %td
                  =kisei.joining
                %td
                  =kisei.graduating
                %td.center
                  =link_to admin_adkisei_path(kisei.id), class: "detail-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
                    詳細
