.row
  .col-lg-12
    %h1.page-header 期生作成
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Kiseis Create Form
      .panel-body
        .row
          .col-lg-6
            =form_for [:admin, @adkisei ] do |f|
              .form-group
                =f.label :期生
                %span.form-require （必須）
                = f.text_field :name, required: true, placeholder: "例）一期生", class: "form-control"
              .form-group
                =f.label :紹介文
                %span.form-require （必須）
                =f.text_area :text, required: true, placeholder: "例）僕たち一期生は学生団体CHADを創設しました。", class: "form-control"
              .form-group
                =f.label :入団年月
                %span.form-require
                = f.text_field :joining, placeholder: "例）2017年4月", class: "form-control"
              .form-group
                =f.label :卒団年月
                %span.form-require
                = f.text_field :graduating, placeholder: "例）2021年3月", class: "form-control"
              .form-group
                %label.btn-position
                  =f.file_field :backimage, style: "display:none;"
                  %span.btn
                    背景画像を選択
              =f.submit "作成", class: "btn btn-default" #classを複数指定する場合はこのようにする。
:javascript
  $(function() {
      // jQuery Upload Thumbs
      $('form input:file').uploadThumbs({
          position : 0,      // 0:before, 1:after, 2:parent.prepend, 3:parent.append,
                             // any: arbitrarily jquery selector
          imgbreak : true    // append <br> after thumbnail images
      });
  });
