.row
  .col-lg-12
    %h1.page-header 詳細
    -if @adkisei.backimage.present?
      .adkisei_backimage{{style: "background: url(#{@adkisei.backimage}) no-repeat center center; background-size: cover;"}}
    -else
      .adkisei_backimage{{style: "background: url(/assets/logo) no-repeat center center; background-size: cover;"}}
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Kiseis DataTables
      .panel-body
        %table#dataTables-example.table.table-striped.table-bordered.table-hover{width: "100%"}
          %thead
            %tr
              %th 期生
              %th 紹介文
              %th 作成日時
              %th 更新日時
          %tbody
            %tr.odd.gradeX
            %td
              =@adkisei.name
            %td
              =@adkisei.text
            %td
              =@adkisei.created_at.to_s(:short)
            %td
              =@adkisei.updated_at.to_s(:short)
-if current_adminuser.id == 2
  = link_to edit_admin_adkisei_path(@adkisei.id) do
    .well
      .btn.btn-default.btn-lg 編集
