.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 CrowdFunding
          %h3 カンボジア支援のための資金をクラウドファンディングで募集しています。
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          クラウドファンディング
          %br
          CrowdFunding
        %p.lead
          カンボジア支援のための資金をオンライン上の募金である、クラウドファンディングで募集しています。
          去年、皆様のお力のおかげで、活動資金約30万円集めることができました。ああああああああああああああああああああああああああああああああああああああああああああああああああ
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "image 1.jpg", class: "img-responsive", alt: ""
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "image 1.jpg", class: "img-responsive", alt: ""
