.actions-bar, .members-bar, .trails-bar {
  position: relative;
}

.actions-sub, .members-sub, .trails-sub {
  width: 100%;
  background-color: #f8f8f8;
  position: absolute;
  top: 50px;
  padding: 0;
}

.sub-list {
  list-style: none;
  text-align: center;
  margin-bottom: 15px;
}

.sub-word {
  color: #777;
}
.sub-word:hover {
  color: #fff;
}
