
.aduser_avator {
  margin: 20px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%; //画像が丸くなる
    //画像の周りを線で囲って、色をつけている。//
  border: 2px solid #eee;
}

.search-box {
  margin-bottom: 10px;
}

