!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title challenge the everything
  %body
    / Navigation
    / Header
    %a{:name => "about"}
    .mission-intro-header
      .container
        .row
          .col-lg-12
            .intro-message
              %h1 Mission
              %h3 私たち学生団体CHADは、「挑戦」「自己成長の場の創出」を理念に日々活動しています。
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            %hr.section-heading-spacer/
            .clearfix
            %h2.section-heading
              理念
              %br>/
              Mission
            %p.lead
              私たち学生団体CHADは、「挑戦」「自己成長の場の創出」を理念に掲げ、日々活動しています。「挑戦」を通じて「自己成長の場を創出」するという考えの下、この理念は生まれました。それではなぜわたしたちは「挑戦」するのでしょうか。その理由は２つあります。1つ目は、学生だからこそできるという点です。当然社会人であっても、何かに挑戦することは可能です。しかし学生は社会人よりも自由な時間が多く、様々なことに挑戦できる時期です。他大学の学生たちと共に挑戦したり、自由な発想で楽しく行動を起こせたり、学生であるからこそ豊富なアプローチが可能であると思います。2つ目は、数少ない実践の場を生み出し、自己成長へと繋がる経験を積むことが出来るという点です。わたしたち学生にとって自己成長とは、やがて社会で活躍する人材になるために必要なものです。またその自己成長は、自ら考え行動し経験を積むこと、つまり「挑戦」を通じてのみ得られるものです。したがって学生である今、様々なことに挑戦することが重要だと考えます。「挑戦」が「自己成長」に繋がると信じ,わたしたちはこれからも挑戦し続けて行きます。
          .col-lg-5.col-lg-offset-2.col-sm-6
            = image_tag "image 1.jpg", class: "img-responsive", alt: ""
          .col-lg-5.col-lg-offset-2.col-sm-6
            = image_tag "challenge.jpg", class: "img-responsive", alt: ""
            /.content-section-b-bataの背景色を白にした
    .content-section-b-bata
      .container
        .row
          .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            %hr.section-heading-spacer/
            .clearfix
            %h2.section-heading
              活動目的
              %br>/
              Purpose
            %p.lead
              貧困や疫病、宗教、民族、売春、食糧問題、環境問題など、世界には解決すべき問題が多数存在しています。わたしたちはその様々な問題の解決となる第一歩の活動・ムーブメントを起こすのです。ちなみに第一歩の活動・ムーブメントとは、①自分たちがその問題に取り組むことで、周囲の目線をその問題に向けさせる。②ある問題に対する支援方法を考えるにしても、資金や経験に乏しい学生でもできる形の支援方法を考え実行する。この２つのことを意味しています。
          .col-lg-5.col-sm-pull-6.col-sm-6
            = image_tag "purpse.jpg", class: "img-responsive", alt: ""

