!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title challenge the everything
  %body
    / Navigation
    / Header
    %a{:name => "about"}
    .mission-intro-header
      .container
        .row
          .col-lg-12
            .intro-message
              %h1 Mission
              %h3 私たち学生団体CHADは、「挑戦」「自己成長の場の創出」を理念に日々活動しています。
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            %hr.section-heading-spacer/
            .clearfix
            %h2.section-heading
              理念
              %br>/
              Mission
            %p.lead
              私たち学生団体CHADは、「挑戦」「自己成長の場の創出」を理念に掲げ、日々活動しています。
          .col-lg-5.col-lg-offset-2.col-sm-6
            = image_tag "image 1.jpg", class: "img-responsive", alt: ""

