%body
  .actions-educations-intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            %h1 Education Project
            %h3 教育問題解決に取り組んでいます。
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6.col-center
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            教育プロジェクト
            %br>/
            Education Project
          %p.lead
            カンボジアの教育問題を解決すべく、私たち学生団体CAHDは、
            カンボジアの小学生を共に、教育プロジェクトに取り組んでいます。
  .actions-education-japanese-intro-header
    .actions-education-japanese-intro-message
      .japanese-box
        %h1 日本語教育プロジェクト
        %h3 日本文化を学びました。
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6.col-center
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            日本語教育プロジェクト
            %br>/
            Education Project
          %p.lead
            カンボジアの小学生と日本文化を学んでいます。
            %br
            楽しかったです。あああああああああああああああああああああああああああああああああああああああああああああああああ
        .col-lg-5.col-lg-offset-2.col-sm-6
          = image_tag "image 1.jpg", class: "img-responsive", alt: ""
        .col-lg-5.col-lg-offset-2.col-sm-6
          = image_tag "image 1.jpg", class: "img-responsive", alt: ""
  .actions-education-garbage-intro-header
    .actions-education-garbage-intro-message
      .garbage-box
        %h1 ゴミ問題プロジェクト
        %h3 ゴミ問題を解決すべく取り組んでいます。
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6.col-center
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            ゴミ問題プロジェクト
            %br>/
            Project
          %p.lead
            カンボジアの非常に重要な問題を
            %br
            可愛いですね小学生は。
            %br
            hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
            %br
            hhhhhhggggggggggggggggggggggggg
            %br
            gggggggggggggggggggggggggggggggggggggg
        .col-lg-5.col-lg-offset-2.col-sm-6
          = image_tag "bargage.jpg", class: "img-responsive", alt: ""

