!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title 学生団体CHAD管理者システム
    = csrf_meta_tags
    = stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'chad.ico'
%body
  #wrapper
    %nav.navbar.navbar-default.navbar-static-top{role: "navigation", style: "margin-bottom: 0"}
      .navbar-header
        %button.navbar-toggle{"data-target": ".navbar-collapse", "data-toggle": "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand 学生団体CHAD管理システム
        =render partial: 'shared/editbar'
      .navbar-default.sidebar{role: "navigation"}
        .sidebar-nav.navbar-collapse
          %ul#side-menu.nav
            %li.sidebar-search
              .input-group.custom-search-form
                %input.form-control{placeholder: "Search...", type: "text"}/
                %span.input-group-btn
                  %button.btn.btn-default
                    %i.fa.fa-search
            %li
              =link_to admin_root_path do
                %i.fa.fa-dashboard.fa-fw
                Dashboard
            %li
              =link_to admin_kiseis_path do
                %i.fa.fa-bar-chart-o.fa-fw
                期生
            %li
              =link_to admin_users_path do
                %i.fa.fa-users.fa-fw
                メンバー
            %li
              =link_to admin_adcalenders_path do
                %i.fa.fa-calendar.fa-fw
                CHAD カレンダー
            %li
              =link_to admin_contacts_path do
                %i.fa.fa-edit.fa-fw
                お問い合わせ
    #page-wrapper
      =yield
